<div id="loginPage" class="col-md-6 offset-md-3">
  <p></p>
  <h2 id="loginTitle">Login</h2><br>
  <h6 id="loginDescription">Please enter your credentials to the Quest Diagonstic's Automation Team Website (ATW)</h6><br>
  <form>
      <div class="form-group">
          <label id="loginUserLabel" for="username">Username</label>
          <input id="loginUserName" type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
      </div>
      <div class="form-group">
          <label id="loginPasswordLabel" for="password">Password</label>
          <input id="loginPassword" type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      </div>
      <div class="form-group">
          <button id="loginSubmitButton" class="btn btn-primary" (click)="login()">Login</button>
      </div>
      <p>
          <label id="loginErrorMessage" name="message">{{model.message}}</label>
      </p>
  </form>
</div>
  