<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a id="homeTeam" class="navbar-brand" href="#">Quest Automation Team</a>
      <a id="userRole" class="navbar-brand" href="#">{{userRole}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
          </ul>
      </div>
  </nav>
</div>
<div class="jumbotron">
  <h1 id="userName" class="display-4">{{userName}}</h1>
  <div class="col">
        <p id="message{{i}}" class="life-container" *ngFor="let message of messages; let i = index">
                {{message}}
        </p>
  </div>

  <form>
        <br/><br/>
        <input id="newMessage" aria-label="Post Your Message" type="text" class="form-control form-control-sm" name="newMessage" placeholder="New Team Message..." [(ngModel)]="newMessage">
       <!--  to break messages
        <input type="text" class="form-control form-control-sm" name="newMessage" placeholder="New Family Message...">
      -->
        <br/>
        <input id="newMessageBtn" type="submit" class="btn btn-primary btn-sm" value="Post a Team Message!" (click)="addMessage()">
    </form>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="card mb-4" [@change]="questsToDo.length">
            <div class="card-body text-center">
                <h5 class="card-title bg-primary text-white">Quest ToDo's</h5>
                <p id="questsToDo{{i}}" class="card-text" *ngFor="let quest of questsToDo;
                let i = index;
                let isOdd=odd;
                let isEven=even"
                [class.text-secondary]="isEven"
                [class.text-primary]="isOdd"
                (click)="questDone(i)">{{quest}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card mb-4" [@change]="questsDone.length">
            <div class="card-body text-center">
                <h5 class="card-title bg-primary text-white">Quest Done</h5>
                <p id="questsDone{{i}}" class="card-text" *ngFor="let quest of questsDone;
                let i = index;
                let isOdd=odd;
                let isEven=even"
                [class.text-secondary]="isEven"
                [class.text-primary]="isOdd"
                (click)="questBack(i)">{{quest}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="card mb-4" [@change]="teamsToDo.length">
            <div class="card-body text-center">
                <h5 class="card-title bg-primary text-white">Team ToDo's</h5>
                <p id="teamsToDo{{i}}" class="card-text" *ngFor="let team of teamsToDo;
                let i = index;
                let isOdd=odd;
                let isEven=even"
                [class.text-secondary]="isEven"
                [class.text-primary]="isOdd"
                (click)="teamDone(i)">{{team}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card mb-4" [@change]="teamsDone.length">
            <div class="card-body text-center">
                <h5 class="card-title bg-primary text-white">Team Done</h5>
                <p id="teamsDone{{i}}" iclass="card-text" *ngFor="let team of teamsDone;
                let i = index;
                let isOdd=odd;
                let isEven=even"
                [class.text-secondary]="isEven"
                [class.text-primary]="isOdd"
                (click)="teamBack(i)">{{team}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="card mb-4" [@change]="personalsToDo.length">
            <div class="card-body text-center">
                <h5 class="card-title bg-primary text-white">Personal ToDo's</h5>
                <p id="personalsToDo{{i}}" class="card-text" *ngFor="let personal of personalsToDo;
                let i = index;
                let isOdd=odd;
                let isEven=even"
                [class.text-secondary]="isEven"
                [class.text-primary]="isOdd"
                (click)="personalDone(i)">{{personal}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card mb-4" [@change]="personalsDone.length">
            <div class="card-body text-center">
                <h5 class="card-title bg-primary text-white">Personal Done</h5>
                <p id="personalsDone{{i}}" class="card-text" *ngFor="let personal of personalsDone;
                let i = index;
                let isOdd=odd;
                let isEven=even"
                [class.text-secondary]="isEven"
                [class.text-primary]="isOdd"
                (click)="personalBack(i)">{{personal}}</p>
            </div>
        </div>
    </div>
</div>

